<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Bill Dry - bdry@amazon.com" />
    <meta name="description" content="Filter your resources by tags" />
    <meta name="keywords" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Find tagged resources</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container-fluid">
      <h3 style="text-align: center">
        Select any tag keys & values to use as search filters then press submit
      </h3>
      <br>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <h4 style="text-align: center">Keys</h4>
          <form method="post" action="{{ url_for('tag_resources') }}" target="tag_apply_bottom_iframe">
            <input type="hidden" name="resource_type" value="{{ resource_type }}" />
          <div class="form-group">
            <select class="custom-select" id="FormControlSelect1" name="tag_key1">
            <option value=""></option>
            {% for tag_key in tag_keys %}
            <option value="{{ tag_key }}">{{ tag_key }}</option>
            {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-4">
          <h4 style="text-align: center">Values</h4>
          <div class="form-group">
            <select class="custom-select" id="FormControlSelect2" name="tag_value1">
              <option value=""></option>
              {% for tag_value in tag_values %}
              <option value="{{ tag_value }}">{{ tag_value }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <select class="custom-select" id="FormControlSelect3" name="conjunction">
              <option value="AND">AND</option>
              <option value="OR">OR</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <select class="custom-select" id="FormControlSelect4" name="tag_key2">
              <option value=""></option>
              {% for tag_key in tag_keys %}
              <option value="{{ tag_key }}">{{ tag_key }}</option>
              {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <select class="custom-select" id="FormControlSelect5" name="tag_value2">
                <option value=""></option>
                {% for tag_value in tag_values %}
                <option value="{{ tag_value }}">{{ tag_value }}</option>
                {% endfor %}
              </select>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </div>
  </form>
  </body>
</html>
